/*mise en page du html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: purple
}

p {
    color: floralwhite;
    width: calc(50% - 24px);
    height: auto;
    min-height: 200px;
    background: orange;
    float: left;
    border: 1px solid pink;
    padding: 2% 2px 0px;
    margin-left: 10px;
    margin-top: 20%;
    /*
padding-bottom: 5px;
padding-right: 2px;
padding-left: 4px;
padding-top: 2%}
*/

}

span {
    font-size: 60px;
    color: greenyellow;
    margin: 0px 2px;
    background: red;
    width: 80px;
    height: 80px
}

q::before {
    content: "«";
    color: red;
    font-size: 30px
}

cite {
    color: darkolivegreen;
    front-size: 10px
}

q::after {
    content: "»";
    color: red;
    font-size: 30px
}

h1,
h2,
h3,
h4 {
    color: black
}

hgroup {
    color: aqua
        /*        texte-align:center*/
}

hgroup {
    width: 21%;
    background: red;
    float: right;
    margin: 20px 20px 0px 0px
}

ul,
ol {
    margin-left: 20px;
    }
    
div{width: 100%;
    height: 3000px}

p a{text-decoration: none;
color: darkgreen}
ul li a {text-decoration: none;
color: crimson}

/*id=#une seul fois par page html class=. et px etre appeller plusieurs fois*/
ul li#rouge a{font-size: 10px}

.italique{font-style:italic}
figure{width: 500px;
    height: 500px;
    background: blue;
    border-radius: 50%;
    overflow: :hidden;
    
margin:auto}
img{max-width: 100%;
padding-top: 20px }


figure figcaption {text-align: center; background: white;
height: 40px;
width: 100%;
color: red;
line-height: 40px;
}