*{margin: 0;
padding: 0;
box-sizing: border-box}

body{background: white}

/*
div.bleu{
width: 200px;
height: 200px;
animation-name:manger;
animation-delay: 2s;
animation-duration:5s ;
animation-fill-mode:backwards;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: reverse}
*/

/*
div.bleu{
animation:1s ease-in-out 2s 3 reverse forwards manger}
*/

div.rouge{
width: 200px;
height: 200px;
background: red;
position: absolute;

animation:1s ease-in-out 0s 3 normal forwards manger}


@keyframes manger{
    
    0%,95%{
    top:0px;
    left: 0px
    }
    
    25%,35% {
    top: 0px;
    left: 80%}
    
    45%, 55%{
    top: 70vh;
    left:80%}
    
     65%,75%{
     top: 70vh;
     left: 0}
    
          }  
        
    
}