*{margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;}


div:nth-of-type(1)
{background: purple;
animation-name: toto;
animation-duration: 2s;
animation-delay: 2s; 
animation-iteration-count: infinite;
animation-fill-mode: forwards;
animation-timing-function: linear
}

/* div:nth-of-type(2){
background: green; 
animation-name: tata;
animation-direction: reverse;
animation-duration: .5s; 
animation-iteration-count: infinite;
animation-delay: 2s; 
} */

div{width: 200px;
height: 200px;
position: absolute;

}

@keyframes toto{

    /* animation premiere methode */
    
    /* 0%{left:0}

       25%{top:0;
            left: 80%;
            background:red;
        border-radius: 50%;}

        50%{top:80%;
            left:80%;
            background:red;
        border-radius: 50%;}

        75%{top:80%;
           left:0;
            background:red;
        border-radius: 50%;}

        100%{top:0;
            left: 0;
            background:red;
            border-radius: 50%;}} */

            /* autre maniere de procéder  */
            0%, 100%{left:0}

            25%{top:0;
                 left: calc( 100% - 200px)}
     
             50%{top:calc( 100vh - 200px);
                 left: calc( 100% - 200px)}

            75%{top: calc( 100vh - 200px);
                left:0}}
     

    /* @keyframes tata{
        0%{margin-left:0}
        50%{margin-left: 50%;
        background: blue;
        border-radius: 50%;}
        100%{margin-left: 100%;}} */